@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: Romanesco;
    src: url(../fonts/Romanesco-Regular.ttf);
}

*{border: 1px solid #FF0000;}

body{
    font-family: Inter;
    font-size: 16px;
}
.color-header{background: #A3A656;}
.opciones-header{
    height: 70px;
    padding-left: 70px;
}
.texto-micuenta{font-size: 14px;}

/************ ESTILOS DE SECCION ****************/
.texto-main{
    margin-top: 120px;
    margin-left: 200px;
}
.texto-main-spa{
    font-family: Romanesco;
    font-size: 96px;
}
.texto-main-desc{
    font-size: 32px;
}
nav ul li:hover{
    color: #FFFF00;
}


.cita-codigo{
    height: 100px;
    background: #F2F6F6;
}

.alto-cards-masajes{height: 620px;}
.ancho-max-tarjetas{max-width: 350px;}
.padding-tarjetas-masajes{padding-top: 100px;}
.color-tarjetas-masajes{background: #A3A656;}
.t2{font-size: 25px;}
.btn-reservar{
    font-size: 12px;
    background: #A3A656;
}
.btn-reservar:hover{background: #384001;}
.gap-tarjetas{gap: 134px;}

.alto-cards-suscripciones{
    height: 770px;
    background: #F2F6F6;
}

.dim-circulo{
    border: 11px solid #384001;
    width: 233px;
    height: 233px;
}